Repository four-four-four/DAMOA-Backend, pull requests merged in 2022-04, with the labels that each got.

#38 공지사항 댓글 등록 API 개발 및 공지사항 등록 리팩토링
  src/main/java/com/fourfourfour/damoa/common/constant/ErrorMessage.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeCommentController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/dto/NoticeCommentRequestDto.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/dto/NoticeRequestDto.java
  src/main/java/com/fourfourfour/damoa/domain/notice/dto/req/ReqNoticeDto.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepository.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeRepository.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentService.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeService.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/dto/NoticeCommentDto.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/dto/NoticeDto.java
  src/main/resources/errors.properties
  src/test/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/notice/repository/NoticeRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentServiceImplTest.java
  src/test/java/com/fourfourfour/damoa/domain/notice/service/NoticeServiceImplTest.java
Labels: feature, zlzzlzz2l, refactor, notice

#41 PR 템플릿 추가
  .github/PULL_REQUEST_TEMPLATE/pull-request-template.md
Labels: 0xe82de, common

#45 도커파일 추가
  Dockerfile
  gradlew
Labels: common

#47 엔티티 ID 컬럼 AUTO INCREMENT 적용
  src/main/java/com/fourfourfour/damoa/domain/event/entity/Event.java
  src/main/java/com/fourfourfour/damoa/domain/event/entity/EventComment.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/entity/BannedKeyword.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/entity/Keyword.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/entity/KeywordComment.java
  src/main/java/com/fourfourfour/damoa/domain/member/entity/Member.java
  src/main/java/com/fourfourfour/damoa/domain/moa/entity/Moa.java
  src/main/java/com/fourfourfour/damoa/domain/notice/entity/Notice.java
  src/main/java/com/fourfourfour/damoa/domain/notice/entity/NoticeComment.java
  src/main/java/com/fourfourfour/damoa/domain/trend/entity/Trend.java
Labels: 0xe82de, refactor, common

#49 배포 테스트(도커파일 수정)
  Dockerfile
Labels: 0xe82de

#50 공지사항 목록 조회 API 개발
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeRepository.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeRepositoryCustom.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeRepositoryImpl.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeService.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/dto/NoticeResponseDto.java
  src/test/java/com/fourfourfour/damoa/domain/notice/repository/NoticeRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/notice/service/NoticeServiceImplTest.java
Labels: feature, zlzzlzz2l, notice

#55 이메일 정규표현식 버그 수정
  src/main/java/com/fourfourfour/damoa/domain/member/controller/MemberController.java
  src/main/java/com/fourfourfour/damoa/domain/member/controller/dto/MemberRequestDto.java
  src/test/java/com/fourfourfour/damoa/domain/member/service/MemberServiceImplTest.java
Labels: bug, zlzzlzz2l, member

#54 회원 등록 키워드 목록 조회 API 개발
  src/main/java/com/fourfourfour/damoa/domain/keyword/entity/Keyword.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/repository/KeywordRepository.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/repository/MemberKeywordRepository.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/KeywordService.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/KeywordServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/dto/KeywordDto.java
  src/main/java/com/fourfourfour/damoa/domain/member/controller/MemberController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeCommentController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeController.java
  src/test/java/com/fourfourfour/damoa/domain/keyword/repository/MemberKeywordRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/keyword/service/KeywordServiceTest.java
Labels: 0xe82de, feature, keyword
