Repository four-four-four/DAMOA-Backend, pull requests merged in 2022-05, with the labels that each got.

#57 AuthenticationUtil, JWT Filter 클래스 리팩토링
  src/main/java/com/fourfourfour/damoa/common/auth/JwtAuthenticationFilter.java
  src/main/java/com/fourfourfour/damoa/common/auth/PrincipalDetails.java
  src/main/java/com/fourfourfour/damoa/common/dto/response/BaseResponseDto.java
  src/main/java/com/fourfourfour/damoa/common/dto/response/ErrorResponseDto.java
  src/main/java/com/fourfourfour/damoa/common/exception/handler/GlobalControllerAdvice.java
  src/main/java/com/fourfourfour/damoa/common/util/AuthenticationUtil.java
  src/main/java/com/fourfourfour/damoa/common/util/JwtTokenUtil.java
  src/main/java/com/fourfourfour/damoa/domain/member/controller/MemberController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeCommentController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeController.java
Labels: 0xe82de, refactor, common

#59 AOP 로깅 기능 추가
  .gitignore
  src/main/java/com/fourfourfour/damoa/common/aop/trace/LogTrace.java
  src/main/java/com/fourfourfour/damoa/common/aop/trace/ThreadLocalLogTrace.java
  src/main/java/com/fourfourfour/damoa/common/aop/trace/TraceId.java
  src/main/java/com/fourfourfour/damoa/common/aop/trace/TraceStatus.java
  src/main/java/com/fourfourfour/damoa/common/aop/trace/aspect/LogTraceAspect.java
  src/main/java/com/fourfourfour/damoa/config/aop/AopConfig.java
  src/main/java/com/fourfourfour/damoa/config/web/WebConfig.java
  src/main/java/com/fourfourfour/damoa/domain/member/service/MemberServiceImpl.java
  src/main/resources/application.yml
Labels: 0xe82de, feature, common

#62 회원 키워드 등록 API 추가
  src/main/java/com/fourfourfour/damoa/common/constant/ErrorMessage.java
  src/main/java/com/fourfourfour/damoa/common/constant/Message.java
  src/main/java/com/fourfourfour/damoa/common/util/AuthenticationUtil.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/controller/KeywordController.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/controller/dto/KeywordRegisterDto.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/entity/Keyword.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/repository/BannedKeywordRepository.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/repository/KeywordRepository.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/repository/MemberKeywordRepository.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/BannedKeywordService.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/BannedKeywordServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/KeywordServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/MemberKeywordService.java
  src/main/java/com/fourfourfour/damoa/domain/keyword/service/MemberKeywordServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/member/controller/MemberController.java
  src/main/java/com/fourfourfour/damoa/domain/member/entity/Member.java
  src/main/java/com/fourfourfour/damoa/domain/member/repository/MemberRepository.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeCommentController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeController.java
  src/main/resources/errors.properties
  src/test/java/com/fourfourfour/damoa/domain/keyword/repository/BannedKeywordRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/keyword/repository/KeywordRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/keyword/service/BannedKeywordServiceTest.java
  src/test/java/com/fourfourfour/damoa/domain/keyword/service/MemberKeywordServiceTest.java
Labels: 0xe82de, feature, keyword

#66 도커파일 수정(컨테이너 TImeZone 변경)
  Dockerfile
Labels: 0xe82de, common

#67 공지사항 댓글 목록 조회 API 개발
  src/main/java/com/fourfourfour/damoa/domain/notice/controller/NoticeCommentController.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepository.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepositoryCustom.java
  src/main/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepositoryImpl.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentService.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentServiceImpl.java
  src/main/java/com/fourfourfour/damoa/domain/notice/service/dto/NoticeCommentDto.java
  src/test/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentServiceImplTest.java
Labels: feature, zlzzlzz2l, notice

#69 공지사항 댓글 조회 API 테스트 버그 수정
  src/test/java/com/fourfourfour/damoa/domain/notice/repository/NoticeCommentRepositoryTest.java
  src/test/java/com/fourfourfour/damoa/domain/notice/service/NoticeCommentServiceImplTest.java
Labels: bug, zlzzlzz2l, notice
